.drawerPaper {
  width: 250px;
  margin-top: 185px;
  
}

.drawerPaper.dark {
  background-color: #565555;
  color: #fbf9f9;
}

.userInfo {
  padding:20px;
  text-align: center;
}

.avatar {
  width: 60px; /* Adjust size as needed */
  height: 60px; /* Adjust size as needed */
  margin-bottom: 10px;
}

.googleLogin {
  margin-top: 10px;
}




      