.container {
  display: flex;
  flex-direction: column;
  height: 100vh;
}





.mainContent {
  display: flex;
  flex-direction: row;
  flex-grow: 1;
}

.content {
  flex-grow: 1;
  margin-left: 5px;
  padding: 1px;
  background-color: transparent; 
  color: #000;
}

.content.dark {
  color: #fff; /* Dark mode text color */
}

.newPost {
  padding: 16px;
  margin-bottom: 16px;
  border: 1px solid #e0e0e0;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  background-color: #fff;
  color: #000; /* Default light mode text color */
}

.newPost.dark {
  border-color: #555;
  color: #fff;
}

.dark .MuiTypography-root,
.dark .MuiTextField-root,
.dark .MuiButton-root {
  color: #fff;
  border-color: #555;
}

.dark .MuiInputBase-input {
  color: #fff;
}

.dark .MuiButton-containedPrimary {
  background-color: #444;
  color: #fff;
}

.dark .MuiButton-containedSecondary {
  background-color: #555;
  color: #fff;
}

.singin{
  display: none;
}