.post {
  margin-bottom: 20px;
  padding: 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  background-color: #f6eded;
}

.post.dark {
  background-color: #333;
  color: #fff;
}

.actions {
  display: flex;
  align-items: center;
}

.actions .MuiIconButton-root {
  margin-right: 8px;
}

.commentsSection {
  margin-top: 16px;
}
